body{
    position: relative;
    overflow:hidden;
    min-height:100vh;
    width:100%; 
    color:#e1e3db;
    align-items:center;
    justify-content:center;
    font-family:'Alkatra', cursive;  
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
    

  
  ::-webkit-scrollbar {
    width: 1px;
    background: #74747400;
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
  }


  .zapszaps{
    position:fixed;
    bottom: 20px;
    right:20px;
    z-index:2;
  }
  
  


.navbar-brand{
  font-size:35px;
  font-family: 'Alkatra', serif;
  }
.navbar-brand:hover{
  color: gold;
  text-shadow: 1px 1px 1px #000000;
}
.navbar-nav .nav-item a{
  color: #000000;
  font-size:25px;
  transition: transform 1s;
  transform:scale(1);
  font-family: Gill Sans, sans-serif;
}
.navbar-nav .nav-item a:hover{
  color:rgb(0, 119, 255);
  transition:0.5 s;
  transform:scale(1.1);
}
    










    .card-circle{
      text-align:center;
       margin-top:50px;
       background:#27496D;    
       border:10px solid transparent;
       color:#fff;
       Font-family: Montserrat;
       padding:50px;
       border-radius:50%;
  }
   .card-circle .card-title{
      font-weight:600;
       font-size:26px;
  }
   .card-circle .card-text{
      font-weight:400;
  }
   .card-circle .card-icon i{
       font-size:60px;
       display:block;
  }
   .card-circle:nth-child(2){
      background:#142850;
  }
   .card-circle .btn{
      Font-family: Montserrat;
      background:transparent;
       border:1px solid #fff;
       text-transform:uppercase;
       padding:5px 30px;    
       border-radius:0px;
       Font-weight:600;
  }
  .card-circle .btn,.card-circle .card-icon i,.card-circle{
     transition: all ease-in-out 0.2s;
  }
   .card-circle:hover .btn{
      background:#00A8CC;
       color:#fff;
     border: 1px solid transparent;
  }
   .card-circle .btn:hover{
      transform: scale(1.1);
  }
   .card-circle:hover{
      border:10px solid #00A8CC;
  }
   .card-circle:hover i {
     text-shadow: 0px -1px 10px #00A8CC;
      transform:scale(1.2)rotate(20deg);
  }
   @media only screen and (min-width: 1200px) {
       .card-circle:nth-child(3){
           margin-left:-40px;
           z-index:0;
      }
       .card-circle{
           width:400px;
           height:400px;
      }
       .card-circle:nth-child(2){
           margin-left:-20px;
           box-shadow: 1px 2px 20px 8px rgba(241, 235, 235, 0.12);
           transform: scale(1.2);
           z-index:1;
      }
     .card-circle .card-icon i{
        margin-top: 20px;
       }
  }
  @media only screen and (min-width: 991px) and (max-width: 1200px) {
     .card-circle{
           width:340px;
           height:340px;
      }
    .card-circle .card-icon i{
       font-size:50px;
     }
    .card-circle .card-icon i{
        margin-top: -25px;
       }
     .card-circle:nth-child(3){
           margin-left:-50px;
           z-index:0;
      }
     .card-circle:nth-child(2){
           margin-left:-20px;
           z-index:1;
      }
  }
  









.cremacao{
  width:80%;
  height:800px;
  margin-left:10%;
  margin-right:10%;
  margin-top:5%;
  margin-bottom:5%;
}
.cremacao-img{
  background: url(imagens/bregesso/urnaa.png) no-repeat;
  background-size: contain;
  background-position: center;
  height:250px;
  width:100%;
  border-radius:4px;
}
.cremacao-text{
  font-size: 20px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  padding: 10px;
  color: #005999;
}
.cremacao-text p{
  color: #001524;
}


.cremacao-pet{
  width:80%;
  height:800px;
  margin-left:10%;
  margin-right:10%;
  margin-top:5%;
  margin-bottom:5%;
}
.cremacao-pet-img{
  background:  url(imagens/bregesso/img.webp) no-repeat;
  background-size:cover;
  background-position: center;
  height:80px;
  width:90%;
  border-radius:4px;
}
.cremacao-pet-text h1{
  color: #005999;
}
.cremacao-pet-text{
  padding: 10px;
  color: #001524;
  font-size: 20px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}



.obg-pet{
  width: 100%;
  background-color: blue;
}
.obg-pet > img{
  width: 100%;
  min-height: auto;
}


.container-fluid{
  background-color: rgb(255, 255, 255);
}
.footer-dark{
  padding:10px 30px 10px 30px;
  color:#f0f9ff;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  background-color:#2f72b8;
}
.footer-title{
  position:relative;
  padding:10px;
  padding-left:50px;
}
.footer-dark .box-col{
  display:grid;
  grid-template-columns: auto auto auto;
  gap:10px;
  flex-wrap: wrap;
}
.footer-dark .box-col .caixinha {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid black; 
  border-radius:15px;
  box-shadow:20px 20px 50px rgb(42, 42, 42);
  color: #ffffff;
  background:rgb(0, 119, 255);
}
.footer-dark .box-col .caixinha{
  text-align:center;
  font-size:larger;
}
.footer-dark .item.social {
  padding-top:10px;
  text-align:center;
}
.footer-dark .item.social > a {
  font-size:30px;
  width:50px;
  height:50px;
  line-height:50px;
  display:inline-block;
  text-align:center;
  border-radius:20%;
  box-shadow:0 0 0 1px rgba(255, 255, 255, 0.4);
  margin:0 10px;
  color:#fff;
  opacity:0.75;
}
.face:hover{
  background-color: rgb(0, 81, 255);
}
.insta:hover{
  background-image:linear-gradient( rgb(255, 207, 48)  , rgb(225, 48, 255));
}
.whats:hover{
  background-color: rgb(0, 255, 76);
  color:#ffffff;
}
.mail:hover{
  background-color: rgb(255, 251, 0);
  color:#000000;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.5;
  font-size:13px;
  margin-bottom:0;
}


@media (max-width:500px) {
  .footer-dark .item.social {
    padding-bottom:20px;
  }
  .footer-dark .box-col{
    display:grid;
    grid-template-columns: auto;
    gap:10px;
    flex-wrap: wrap;
  }
  .footer-dark .box-col .caixinha{
    border-radius:15px;
  }
  .footer-dark .box-col .caixinha .conteudocaixinha {
    font-size: small;
  }
}



@media screen and (min-width:500px) and (max-width:800px){
  .cremacao{
    width:80%;
    height:600px;
  }

  .cremacao-pet{
    width:80%;
    height:600px;
  }

  .footer-dark{
    width: 100%;
  }

  .footer-dark .item.social{
    padding-bottom:10px;
  }
  .footer-dark .box-col{
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
    flex-wrap: wrap;
}
  .footer-dark .box-col .caixinha{
    border: 1px solid black; 
  }
  .conteudocaixinha .caixinha-h1{
    font-size: larger;
  }
  .conteudocaixinha .caixinha-p{
    font-size: smaller;
  }
}

@media screen and (min-width:800px) and (max-width:1024px){
  .cremacao{
    width:80%;
    height:400px;
  }
  .cremacao-img{
    height:100%;
    width:50%;
    float:left;
  }
  .cremacao-text{
    float:right;
    width:50%;
  }

  .cremacao-pet{
    width:80%;
    height:400px;
  }
  .cremacao-pet-img{
    height:100%;
    width:50%;
    float:right;
  }
  .cremacao-pet-text{
    float:left;
    width:50%;
  }

  .footer-dark{
    width: 100%;
  }

  .footer-dark .item.social{
    padding-bottom:10px;
  }
  
  .footer-dark .box-col .caixinha{
    border: 1px solid black; 
  }
  .footer-dark .box-col .caixinha .conteudocaixinha h1{
    font-size: small;
  }
}

@media screen and (min-width:1024px){
  .cremacao-img{
    height:100%;
    width:50%;
    float:left;
  }
  .cremacao-text{
    float:right;
    width:50%;
  }

  .cremacao-pet-img{
    height:100%;
    width:50%;
    float:right;
  }
  .cremacao-pet-text{
    float:left;
    width:50%;
  }
}