body{
  position: relative;
  overflow:hidden;
  min-height:100vh;
  width:100%; 
  color:#e1e3db;
  align-items:center;
  justify-content:center;
  font-family:'Alkatra', cursive;  
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
  
.zapszaps{
  position:fixed;
  bottom: 20px;
  right:20px;
  z-index:2;
}

::-webkit-scrollbar {
  width: 1px;
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: #000000;
}




.navbar-brand{
  font-size:35px;
  font-family: 'Alkatra', serif;
}
.navbar-brand:hover{
  color: gold;
  text-shadow: 1px 1px 1px #000000;
}
.navbar-nav .nav-item a{
  color: #000000;
  font-size:25px;
  transition: transform 1s;
  transform:scale(1);
  font-family: Gill Sans, sans-serif;
}
.navbar-nav .nav-item a:hover{
  color:rgb(0, 119, 255);
  transition:0.5 s;
  transform:scale(1.1);
}
  
  
.img-topo{
  height:836px;
  width:100%;
  overflow:hidden;
  background-image:url(imagens/quemm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.txt-topo{
  z-index: 2;
  width: 50%;
  height: 100%;
  float: left;
}
.txt-topo > h1{
  font-family: 'Arial';
  color: #77ffee;
  position:relative;
  font-size:90px;
  left:120%; 
  top:45%;
}
.txt-topo > h1:hover{
  transition:0.4 s;
  transform:scale(1.2);
}

.quem{
  display: flex;
  position:relative;
  padding-top:40px;
  padding-bottom:50px;
  padding-left:200px;
  padding-right:200px;
}
.quem .quem-texto{
  justify-content: center;
  color: #000000;
  font-size:20px;
}
.quem .quem-texto .quem-titulo{
  color: #0c7086;
  font-size:50px;
  font-family: Georgia, serif;
}
.quem .quem-texto p{
  justify-content: center;
  color: #000000;
  font-size:20px;
  font-family:  Helvetica, sans-serif;
}

.divisor {
  margin-top:50px;
  margin-bottom:50px;
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #000000, #ffffff, #000000);
}


.divisor::after {
  content: '';
  color: #000000;
  font-size:40px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 1rem;
}


.fota-funerara{
  margin-top: 20px;
  margin-bottom: 20px;
}
.article-card {
  margin-top:10px;
  margin-bottom:20px;
  display:grid;
  grid-template-columns: 500px minmax(50%,50%);
  width:1000px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}

.img-box {
  width: 100%;
  height:100%;
  margin-right:10px;
  transition: all 0.5s ease;
  border-radius: 8px;
  box-shadow:5px 5px 90px rgb(42, 42, 42);
}

.article-card:hover .img-box { transform: scale(1.1); }

.article-content{
  margin-left: 10px;
  justify-content:center;
}

.article-title {
  margin-left: 20px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  color: #22c4da;
  margin-bottom:9px;
}

.article-text {
  color:#000000;
  font-size:20px;
  margin-bottom:18px;
  font-family: Helvetica, sans-serif;
}



.cards {
  justify-content: center;
  display: flex;
  padding: 32px;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 32px;
  transition:0.5s;
}

.cards section.card:first-child {
  margin-left: 0;
}

.cards section.card .icon {
  width: 64px;
  height: 64px; 
}

.cards section.card img {
  width: 100%;
}

.cards section.card h1 {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  color: rgb(0, 0, 0);
  font-size:40px;
  margin: 16px 0;
}

.cards section.card span {
  font-family: Trebuchet MS, sans-serif;
  color:rgb(0, 0, 0);
  font-weight: 300;
  max-width: 240px;
  font-size: 100%;
  margin-bottom: 16px;
}


.cards section.card.contact {
  box-shadow: 20px 20px 50px -30px #00000080;
}
.cards section.card.shop {
  box-shadow: 20px 20px 50px -30px #00000080;
}
.cards section.card.about {
  box-shadow: 20px 20px 50px -30px #00000080;
}

@media screen and (max-width: 720px) {
  .cards {
      flex-direction: column;
  }

  .cards section.card {
      margin-left: 0;
      margin-bottom: 32px;
  }

  .cards section.card:last-child {
      margin-bottom: 0;
  }

}


.container-fluid{
  background-color: rgb(255, 255, 255);
}

.footer-dark{
  padding:10px 30px 10px 30px;
  color:#f0f9ff;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  background-color:#2f72b8;
}
.footer-title{
  position:relative;
  padding:10px;
  padding-left:50px;
}
.footer-dark .box-col{
  display:grid;
  grid-template-columns: auto auto auto;
  gap:10px;
  flex-wrap: wrap;
}
.footer-dark .box-col .caixinha {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid black; 
  border-radius:15px;
  box-shadow:20px 20px 50px rgb(42, 42, 42);
  color: #ffffff;
  background:rgb(0, 119, 255);
}
.footer-dark .box-col .caixinha{
  text-align:center;
  font-size:larger;
}
.footer-dark .item.social {
  padding-top:10px;
  text-align:center;
}
.footer-dark .item.social > a {
  font-size:30px;
  width:50px;
  height:50px;
  line-height:50px;
  display:inline-block;
  text-align:center;
  border-radius:20%;
  box-shadow:0 0 0 1px rgba(255, 255, 255, 0.4);
  margin:0 10px;
  color:#fff;
  opacity:0.75;
}
.face:hover{
  background-color: rgb(0, 81, 255);
}
.insta:hover{
  background-image:linear-gradient( rgb(255, 207, 48)  , rgb(225, 48, 255));
}
.whats:hover{
  background-color: rgb(0, 255, 76);
  color:#ffffff;
}
.mail:hover{
  background-color: rgb(255, 251, 0);
  color:#000000;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.5;
  font-size:13px;
  margin-bottom:0;
}


@media (max-width:500px) {
  .img-topo{
    height:200px;
    border-radius: unset;
  }
  .txt-topo{
    width: 100%;
  }
  .txt-topo > h1{
    font-size:50px;
    left:10%;
    top:70%;
  }
  .quem{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:20px;
    padding-right:20px;
    font-size:15px;
  }
  .article-card{
    display:grid;
    grid-template-columns:minmax(300px,300px);
    width:300px;
  }
  .article-title {
    color:#000000;
    font-size:20px;
    margin-bottom:8px;
  }
  .article-text {
    color:#272727;
    font-size:15px;
    margin-bottom:8px;
  }
  .footer-dark .item.social {
    padding-bottom:20px;
  }
  .footer-dark .box-col{
    display:grid;
    grid-template-columns: auto;
    gap:10px;
    flex-wrap: wrap;
  }
  .footer-dark .box-col .caixinha{
    border-radius:15px;
  }
  .footer-dark .box-col .caixinha .conteudocaixinha {
    font-size: small;
  }
}



@media screen and (min-width:500px) and (max-width:800px){
  .img-topo{
    height:400px;
    border-radius: unset;
    width:110%;
  }
  .txt-topo{
    width: 100%;
  }
  .txt-topo > h1{
    font-size:50px;
    left:50%;
    top:45%;
  }
  .quem{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:40px;
    padding-right:40px;
    font-size:18px;
  }

  .article-card{
    display:grid;
    grid-template-columns:minmax(400px,400px);
    width:400px;
  }
  .img-box{
    height:400px;
    width:400px;
  }
  .article-title {
    color:#000000;
    font-size:20px;
    margin-bottom:8px;
  }
  .article-text {
    color:#272727;
    font-size:15px;
    margin-bottom:8px;
  }
  
  .article-content{
    margin-left: 0px;
    justify-content:center;
    width: 100%;
  }
  
  .footer-dark{
    width: 100%;
  }

  .footer-dark .item.social{
    padding-bottom:10px;
  }
  .footer-dark .box-col{
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
    flex-wrap: wrap;
}
  .footer-dark .box-col .caixinha{
    border: 1px solid black; 
  }
  .conteudocaixinha .caixinha-h1{
    font-size: larger;
  }
  .conteudocaixinha .caixinha-p{
    font-size: smaller;
  }
}

@media screen and (min-width:800px) and (max-width:1024px){
  .article-card{
    display:grid;
    grid-template-columns:minmax(100%,100%);
    width:700px;
  }
  .article-content{
    margin-left: 0px;
    justify-content:center;
  }
  
  .footer-dark{
    width: 100%;
  }

  .footer-dark .item.social{
    padding-bottom:10px;
  }
  
  .footer-dark .box-col .caixinha{
    border: 1px solid black; 
  }
  .footer-dark .box-col .caixinha .conteudocaixinha h1{
    font-size: small;
  }
}