body{
  position: relative;
  overflow:hidden;
  min-height:100vh;
  width:100%; 
  color:#e1e3db;
  align-items:center;
  justify-content:center;
  font-family:'Alkatra', cursive;  
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


.navbar-brand{
  font-size:35px;
  font-family: 'Alkatra', serif;
  }
.navbar-brand:hover{
  color: gold;
  text-shadow: 1px 1px 1px #000000;
  }
  .navbar-nav .nav-item a{
    color: #000000;
    font-size:25px;
    transition: transform 1s;
    transform:scale(1);
    font-family: Gill Sans, sans-serif;
  }
  .navbar-nav .nav-item a:hover{
    color:rgb(0, 119, 255);
    transition:0.5 s;
    transform:scale(1.1);
  }
    


::-webkit-scrollbar {
  width: 1px;
  background: #74747400;
}
::-webkit-scrollbar-thumb {
  background: #000000;
}


.footer-dark{
  padding:10px 30px 10px 30px;
  color:#f0f9ff;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  background-color:#2f76b8;
}
.footer-title{
  position:relative;
  padding:10px;
  padding-left:50px;
}
.footer-dark .box-col{
  display:grid;
  grid-template-columns: auto auto auto;
  gap:10px;
  flex-wrap: wrap;
}
.footer-dark .box-col .caixinha {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid black; 
  border-radius:15px;
  box-shadow:20px 20px 50px rgb(42, 42, 42);
  color: #ffffff;
  background:rgb(0, 119, 255);
}
.footer-dark .box-col .caixinha{
  text-align:center;
  font-size:larger;
}
.footer-dark .item.social {
  padding-top:10px;
  text-align:center;
}
.footer-dark .item.social > a {
  font-size:30px;
  width:50px;
  height:50px;
  line-height:50px;
  display:inline-block;
  text-align:center;
  border-radius:20%;
  box-shadow:0 0 0 1px rgba(255, 255, 255, 0.4);
  color:#fff;
  margin:0 10px;
  opacity:0.75;
}

.face:hover{
  background-color: rgb(0, 81, 255);
}
.insta:hover{
  background-image:linear-gradient(rgb(255, 207, 48),rgb(225,48,255));
}
.whats:hover{
  background-color: rgb(0, 255, 76);
}
.mail:hover{
  background-color: rgb(255, 251, 0);
  color:#000000;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.5;
  font-size:13px;
  margin-bottom:0;
}


@media (max-width:500px) {

  .article-card{
    display:grid;
    grid-template-columns:minmax(80px,220px);
    width:300px;
  }
  .article-title {
    color:#000000;
    font-size:20px;
    margin-bottom:8px;
  }
  .article-text {
    color:#da6767;
    font-size:15px;
    margin-bottom:8px;
  }
  .footer-dark .item.social {
    padding-bottom:20px;
  }
  .footer-dark .box-col{
    display:grid;
    grid-template-columns: auto;
    gap:10px;
    flex-wrap: wrap;
  }
  .footer-dark .box-col .caixinha{
    border-radius:15px;
  }
  .footer-dark .box-col .caixinha .conteudocaixinha {
    font-size: small;
  }
}



@media screen and (min-width:500px) and (max-width:800px){
  .article-card{
    display:grid;
    grid-template-columns:minmax(200px,200px);
    width:400px;
  }
  .article-title {
    color:#000000;
    font-size:20px;
    margin-bottom:8px;
  }
  .article-text {
    color:#a85757;
    font-size:15px;
    margin-bottom:8px;
  }

  .footer-dark{
    width: 100%;
  }

  .footer-dark .item.social{
    padding-bottom:10px;
  }
  .footer-dark .box-col{
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
    flex-wrap: wrap;
}
  .footer-dark .box-col .caixinha{
    border: 1px solid black; 
  }
  .conteudocaixinha .caixinha-h1{
    font-size: larger;
  }
  .conteudocaixinha .caixinha-p{
    font-size: smaller;
  }
}



@media screen and (min-width:800px) and (max-width:1024px){
  .article-card{
    display:grid;
    grid-template-columns:minmax(300px,300px);
    width:600px;
  }
  .img-box{
    height:300px;
    width:300px;
  }
  .article-title {
    color:#000000;
    font-size:20px;
    margin-bottom:8px;
  }
  .article-text {
    color:#272727;
    font-size:15px;
    margin-bottom:8px;
  }
  .footer-dark{
    width: 100%;
  }

  .footer-dark .item.social{
    padding-bottom:10px;
  }
  
  .footer-dark .box-col .caixinha{
    border: 1px solid black; 
  }
  .footer-dark .box-col .caixinha .conteudocaixinha h1{
    font-size: small;
  }
}



.article-card {
  margin-top:10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 285px minmax(300px, 445px);
  background: rgb(40,255,104);
  background: linear-gradient(184deg, rgba(40,255,104,1) 0%, rgba(21,188,71,1) 44%, rgba(0,112,33,1) 100%);
  max-width: 680px;
  height: 200px;
  border-radius: 10px;
  border:1px solid #000000;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}

.img-box {
  border-radius: 10px 0 0 10px;
}

.article-banner {
  width: 80%;
  height:87%;
  object-fit: cover;
  object-position: left;
  transition: all 0.5s ease;
}

.article-card:hover .article-banner { transform: scale(1.1); }

.article-content {
  padding: 32px 40px;
  border-radius: 0 10px 10px 0;
  justify-content: center;
}

.article-title {
  color:#000000;
  margin-bottom:12px;
  height: 90px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.article-text {
  color:#303030;
  margin-bottom: 18px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.acticle-content-footer {
  display:flex;
  justify-content:space-between;
  align-items:center;
}


@media screen and (max-width: 768px){
  .article-card{
    grid-template-columns: 1fr;
    max-width: 294px;
    overflow: hidden;
  }
  .img-box,.article-content{
    border-radius: 0;
  }
  .img-box{ 
  height:100%; 
  }
  .article-content{
    padding: 30px 28px 20px; 
  }
  .article-title{
    font-size:20px; 
  }
  .article-text{
    font-size:18px; 
    margin-top:10px;
    margin-bottom:20px;
  }
}